* {
    margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('bgbg.JPG');
	background-size: cover;
}
.loginbox {
	width: 320px;
	height: 420px;
	background: #FFFFFF;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.navbar {
    width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	width: 120px;
	cursor: pointer;
}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background:#FFFFFF;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after {
	width: 100%;
}
h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input {
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
}
.loginbox input[type="submit"]
{ 
    border: 1px solid #000;
	outline: none;
	height: 40px;
	background: #FFFFFF;
	color: #000;
	font-size: 18px;
	border-radius:20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #000;
	color: #FFFFFF;
}
.loginbox a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #5A5A5A;
}
.loginbox a:hover 
{
	color: #000;
}
